<div class="container-fluid">
    <!-- Hero Section -->
    <section class="hero-section bg-primary text-white py-5 mb-4 rounded">
      <div class="container">
        <h1 class="display-4 fw-bold">BUN VENIT {{patient?.firstName}}  {{" "}}{{patient?.lastName}}</h1>
        <p class="lead">Detalii despre sănătatea dumneavoastră</p>
      </div>
    </section>
  
    <!-- Main Content -->
    <div class="container">
      <!-- Informații Personale -->
      <div class="card shadow-sm mb-4">
        <div class="card-header bg-light">
          <h5 class="mb-0">Informații Personale</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <strong>Nume:</strong> {{patient?.firstName}} {{patient?.lastName}}
                </li>
                <li class="list-group-item">
                  <strong>Vârstă:</strong> {{patient?.age}} ani
                </li>
                <li class="list-group-item">
                  <strong>CNP:</strong> {{patient?.cnp}}
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <strong>Email:</strong> {{patient?.email}}
                </li>
                <li class="list-group-item">
                  <strong>Telefon:</strong> {{patient?.phone}}
                </li>
                <li class="list-group-item">
                  <strong>Adresă:</strong> {{patient?.address}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Buton Fișă medicală utilizator -->
   <!--   <div class="d-flex justify-content-end mb-4">
        <button class="btn btn-primary btn-lg">
          <i class="bi bi-file-earmark-medical"></i> Fișă medicală utilizator
        </button>
      </div>-->

      <div class="d-flex justify-content-end mb-4">
        <button class="btn btn-primary btn-lg" routerLink="/modificare">
          <i class="bi bi-pencil-square me-2"></i>
          Modificări date personale
        </button>
      </div>
  
   

  
  
      <!-- Istoric activități     AICI TRB SA PUN NUMELE DOCTORULUI NU ID UL DAR MOMENTAN  MI E LENE -->
      <div class="card shadow-sm mb-4">
        <div class="card-header bg-light">
          <h5 class="mb-0">Istoric Recomandari</h5>
        </div>
        <div class="card-body">
          <div *ngIf="recommendations.length > 0; else noActivities">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Tip Activitate</th>
                    <th>Durată</th>
                    <th>Data
                      <button class="btn btn-sm" (click)="sort('doctorId')">
                        <i class="bi" [ngClass]="getSortIcon('doctorId')"></i>
                      </button>
                    </th>
                    <th>Doctor
                      <button class="btn btn-sm" (click)="sort('doctorId')">
                        <i class="bi" [ngClass]="getSortIcon('doctorId')"></i>
                      </button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let activity of recommendations ; let i = index">
                    <td>{{activity.activityType}}</td>
                    <td>{{activity.duration}}</td>
                    <td>{{activity.createdAt}}</td>
                  {{getDoctorName(activity.doctorId)}}
                    <td>{{doctorNames.get(activity.doctorId) || 'Loading...'}} </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
          </div>
          <ng-template #noActivities>
            <p class="text-muted text-center">Nu există activități înregistrate.</p>
          </ng-template>
        </div>
      </div>
  
      <!-- Avertizări istoric -->
      <div class="card shadow-sm mb-4">
        <div class="card-header bg-light">
          <h5 class="mb-0">Avertizări istorice</h5>
        </div>
        <tr *ngFor="let activity of alerts" >
        <div class="card-body">
          <div class="alert alert-warning" role="alert">
            <strong>Avertizare:</strong>{{ activity.message }}  <br>
            <strong>Dată și oră:</strong> {{activity.timestamp}}
          </div>
         
        </div>
      </div>
    </div>



     <!-- Secțiune EKG -->
     <div class="card shadow-sm mb-4">
      <div class="card-header bg-light">
        <h5 class="mb-0">Diagrama EKG</h5>
        
      </div>
      <div class="card-body">
        <div id="ekg-chart-container" style="height: 300px;">
          <!-- Aici poți adăuga un grafic EKG dinamic, folosește Chart.js sau Plotly pentru a-l adăuga -->
          <tr *ngFor="let activity of sensors ; let i = index">
            <td>{{activity.ekgSignal}}</td>
          </tr>
          <canvas id="ekg-chart"></canvas>
        </div>
      </div>
    </div>



     <!-- Secțiune Bătăi Inimii -->
     <div class="card shadow-sm mb-4">
      <div class="card-header bg-light">
        <h5 class="mb-0">Bătăi ale inimii</h5>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div>
            <h6>Ritm Cardiac:</h6>
            <tr *ngFor="let activity of sensors ; let i = index">
              <td>{{activity.heartRate}}</td>
            </tr>
            <p class="lead"> BPM</p>
          </div>
          <div>
            <canvas id="heart-rate-chart" width="300" height="150"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- Secțiune Temperatura -->
    <div class="card shadow-sm mb-4">
      <div class="card-header bg-light">
        <h5 class="mb-0">Temperatură</h5>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div>
            <h6>Temperatura corpului:</h6>
            <tr *ngFor="let activity of sensors ; let i = index">
              <td>{{activity.temperature}}</td>
            </tr>
            <p class="lead"></p>
          </div>
          <div>
            <canvas id="temperature-chart" width="300" height="150"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- Secțiune Umiditate -->
    <div class="card shadow-sm mb-4">
      <div class="card-header bg-light">
        <h5 class="mb-0">Umiditate</h5>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div>
            <h6>Umiditatea aerului:</h6>
            <tr *ngFor="let activity of sensors ; let i = index">
            <td>{{activity.humidity}}</td>
          </tr>
            <p class="lead">   </p>
          </div>
          <div>
            <canvas id="humidity-chart" width="300" height="150"></canvas>
          </div>
        </div>
      </div>
    </div>




    <button class="btn btn-primary btn-lg" (click)="logout()">
      <i class="bi bi-file-earmark-medical"></i> Logout
    </button>
</div>
